
body {
    max-width: 1200px;
    height: 100vh;
    padding: 2em 1em;
    margin: 0 auto;
    font-family: 'Poppins', Sans-Serif;

}

/* Header */

#navbar{
    justify-content: space-evenly;
    font-weight: 450;
}

.btn-out{
    color:#fa7436;
    padding: 0.4rem 1.5rem ;
    font-weight: 450;
    
}
.btn-fill{
    background-color: #fa7436;
    color: #fff;
    padding: 0.4rem 1.5rem ;
    font-weight: 450;
    /* sombra del boton*/
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
.btn-out:hover{
    background-color: #fa7436;
    color: #fff;
     /* sombra del boton*/
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.btn-fill:hover{
    background-color: #fff;
    color: #fa7436;
    border: #fa7436 solid 1px;
}

#subtitle{
    font-size: 1.3rem;
    font-family: 'Volkhov', serif;
}
.nav-item{
    float: left;
    margin: auto;
}
ul{
    align-items: center;
    text-align: center;
}
.logo{
    width: 1.4rem;
    margin: 0.3rem;
}


.options ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.options li {
    margin-right: 15px; /* Ajusta el valor según tu preferencia para separar los elementos */
}
.span-color-banner{
    color: #fa7436;
}
.big-title-banner{
    font-family: 'Volkhov', serif;
    font-size: 64px;
}

.title-banner{
    text-align: center;
    font-family: 'Volkhov', serif;
    font-size: 48px;
}
.text-banner{
    color: #666666;
    font-size: 20px;
    
}

.subtitle-blog{
  font-weight: 500;
}

.small-text-banner{
    color: #666666;
    font-size: 18px;
    text-align: center;
}
#btn-banner{
    border: #fa7436 solid 1.2px;
    color: #fa7436;
    padding: 0.6rem 1.2rem;
    font-weight: 500;
    font-size: small;
    border-radius: 3px;
}
#btn-option-banner{
    color: #fff;
    background-color: #fa7436;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#btn-option-banner{
    color: #fff;
    background-color: #fa7436;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: small;
    border-radius: 3px;
    padding: 0.6rem 1.2rem;
}
#btn-option-banner:hover{
    color: #fa7436;
    background-color: #fff;
    border: #fa7436 solid 1px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.span-options-banner{
    color: #666666;
    font-size: 0.7rem;
}
.nav-banner{
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.056);
    padding: 1rem 1rem;
}   
.options-banner ul li a{
    color: #000;
    text-decoration: none;
}

.img-smart{
    width: 140px;
    height: 130px;
}

/* section 2 things you need to do */
.things-you-need-to-do{
    background-color: #F7F8FC;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    
}

#cards-section2{
    max-width: 1200px;
    margin-bottom: 90px;
}

/* Section 3 books cards */

.img-cards{
    width: 10;
    height: 10;
}

.precio-antes {
    text-decoration: line-through;
    color: gray;
}

.tag-div {
    border-radius: 10px; /* Ajusta el valor según el redondeo que desees */
    background-color: #FFE7DB;
    padding: 2px; /* Añade relleno si es necesario */
}

#precio-actual{
    color: #fa7436;
    font-weight: 600;
}

.book-card {
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 8px #f4a079; /* Sombra rosa difuminada */
    transition: box-shadow 0.3s ease; /* Transición suave */
  }

  .book-card:hover {
    box-shadow: 0 8px 16px #f9834c; /* Sombra más intensa al pasar el puntero */
  }
  .btn-overlay {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  .card-header:hover .btn-overlay {
    opacity: 1;
  }

  .btn-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
  }
  
  .btn-white {
    background-color: white;
    border: #99999980 solid 1px;
  }
  
  .btn-orange {
    background-color: #FA7436;
  }

  .btn-orange:hover{
    background-color: #f4a079;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

   .btn-white:hover{
    background-color: #f4a079;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
  
  /* Section 4 */

.palmeras-smart{
    width: 6.5rem;
}
.color-precio-card{
    color: #FA7436;
    font-family: Poppins;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    letter-spacing: 0em;
    text-align: left;
}

  /* Section 5 testimonial */
  .testimonial{
    background-color: #F7F8FC;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    
}

.container-testimonial{
    max-width: 1200px;
    margin-bottom: 90px;

} 

.profile-img-container {
    position: absolute;
    top: -25px; 
    left: -25px;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .profile-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
  }

  .first-card {
    position: relative;
    z-index: 1;
  }

  .card-testimonial {
    width: 400px;
  } 
  .card-container {
    position: relative;
  }
  .card.position-absolute {
    top: -110px; /* Ajusta la posición hacia abajo */
    left: 50px; /* Ajusta la posición hacia la derecha */
  }
  
  .card.position-relative {
    position: relative;
  }

  #avion-testimonial{
    position: absolute;
    top: -90px;
    right: 0;
  }

  
  .card.position-absolute::before {
    content: "";
    position: absolute;
    top: 0;
    background-color: black; 
    z-index: 2;
  }


