
body {
    max-width: 1200px;
    height: 100vh;
    padding: 2em 1em;
    margin: 0 auto;
    font-family: 'Poppins', Sans-Serif;

}


.container-fluid{
   /* border: #fa7436 solid 1px;*/ 
}


#navbar{
    justify-content: space-evenly;
    font-weight: 450;
}

#btn-login{
    color:#fa7436;
    padding: 0.4rem 1.5rem ;
    font-weight: 450;
    
}
#btn-sing{
    background-color: #fa7436;
    color: #fff;
    padding: 0.4rem 1.5rem ;
    font-weight: 450;
    /* sombra del boton*/
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}
#btn-login:hover{
    background-color: #fa7436;
    color: #fff;
     /* sombra del boton*/
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#btn-sing:hover{
    background-color: #fff;
    color: #fa7436;
    border: #fa7436 solid 1px;
}

#subtitle{
    font-size: 1.3rem;
    font-family: 'Volkhov', serif;
}
.nav-item{
    float: left;
    margin: auto;
}
ul{
    align-items: center;
    text-align: center;
}
.logo{
    width: 1.4rem;
    margin: 0.3rem;
}


.options ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.options li {
    margin-right: 15px; /* Ajusta el valor según tu preferencia para separar los elementos */
}
.span-color-banner{
    color: #fa7436;
}
.big-title-banner{
    font-family: 'Volkhov', serif;
    font-size: 64px;
}

.title-banner{
    text-align: center;
    font-family: 'Volkhov', serif;
    font-size: 48px;
}
.text-banner{
    color: #666666;
    font-size: 20px;
    
}

.small-text-banner{
    color: #666666;
    font-size: 18px;
    text-align: center;
}
#btn-banner{
    border: #fa7436 solid 1.2px;
    color: #fa7436;
    padding: 0.6rem 1.2rem;
    font-weight: 500;
    font-size: small;
    border-radius: 3px;
}
#btn-option-banner{
    color: #fff;
    background-color: #fa7436;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#btn-option-banner{
    color: #fff;
    background-color: #fa7436;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-size: small;
    border-radius: 3px;
    padding: 0.6rem 1.2rem;
}
#btn-option-banner:hover{
    color: #fa7436;
    background-color: #fff;
    border: #fa7436 solid 1px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.span-options-banner{
    color: #666666;
    font-size: 0.7rem;
}
.nav-banner{
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.056);
    padding: 1rem 1rem;
}   
.options-banner ul li a{
    color: #000;
    text-decoration: none;
}

.img-smart{
    width: 140px;
    height: 130px;
}

.things-you-need-to-do{
    background-color: #F7F8FC;
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    
}

#cards-section2{
    max-width: 1200px;
    margin-bottom: 90px;
}

.img-cards{
    width: 60;
    height: 60;
}